.active-word {
    display:inline-block;
    cursor: pointer;    
}

.active-word:hover {
    text-decoration: underline;
    background-color: beige;
}

.selected-words {
    background: rgba(255,240, 200, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.main-title {
    color: grey;
    text-align: center;
}

.center {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.input-main {
    max-width: 150px;
}

.some-space {
    margin: 10px;
}

.pale-text {
    color: lightslategrey;
}

.bottom-space {
    margin-bottom: 10px;
}

.description {
    max-width: 400px;
    margin: 0px !important;
    display: inline-block;
}

body {
    background: aqua;
}

.title {
    color: rgb(166, 163, 147) !important;
}

.round-btn {
    border-radius: 10px;
}

.input-container {
    display: inline-block;
}

.corpus-input {
    max-width: 500px !important;
    max-height: 300px !important;
}

.header {
    background: palegreen;
}
